html{
    height: auto;
    margin:0px;
    
    //background-color:beige;
   //background-image: url("images/index.jpg");
   //position:relative;
    //background-repeat:no-repeat;
    // background-size: 100% 100%;
    //background-size: cover;
    //background-attachment: fixed;
}
body{
    float: left;
    width:auto;
}

#header{
    background-color: skyblue;
    width: 100%;
    height: 90px;
    
   background-color: red;
    margin-top: 0;
    text-align: center;
    text-combine-horizontal:all;
    z-index: -1;
}


#navigation{
    background-color: skyblue;
    display: inline;
    width:85%;
    height:60px;
    float: left;
    //box-shadow: 10px 10px 10px gray;
    margin-left: 10%;
    text-align: center;
}
        
#nav1{
    
    background: red;
   float: left;
   height: 100%;
   width: 13%;
   margin-right: 3px;
   margin-left: 3px;
    
}
#nav2{
    background-color:red;
    margin-right: 3px;
    float:left;
     width: 14%;
    height: 100%;
}
#nav3{
    background-color:red;  
    margin-right: 3px;
    float:left;
     width: 14%;
    height: 100%;
}
#nav4{
    background-color:red; 
    margin-right: 3px;
    float:left;
     width: 14%;
    height: 100%;
   
}
#nav5{
    background-color:red;
    margin-right: 3px;
    float:left;
      width: 14%;
    height: 100%;
}
 #nav6{
    background-color:red;
    margin-right: 3px;
    float:left;
    width: 14%;
    height: 100%;
}
#nav7{
    background-color:red;
    //margin-right: 3px;
    float:left;
    width: 14%;
    height: 100%;
}
#navigation1{
   background-color: black;
    display: inline;
    width:85%;
    color:white;
    height:40px;
    float: left;
    margin-top: 8px;
    margin-left: 10%;
    //border-top-left-radius: 2em;
   // border-bottom-left-radius: 3em;
   border-image-slice:inherit;
   text-align: center;
    
   // margin-left: 20%;
    text-align: center;
}
#username{
    float: left;
    height:85%;
    padding-top: 3px;
    border:1px solid black;
}
#logout{
    background-color: white;
    height:50%;
    float:right;
    margin-right: 4px;
    padding-top:3px;
    color:white;
    
    border: 1px solid black;
}

#navigation2{
    
    background-color: skyblue;
    width:14%;
    text-justify:inherit;
    
    
    float:left;
    height:340px;
    margin-left: 10%;
    margin-top: 5px;
}
#usermanagement{
    background-color: gray;
    height: 23%;
    color:white;
    
    margin-top: 5px;
    text-align: center;
}
#usermanagement1{
    background-color: black;
    display:list-item;
    height 3px;
    color:white;
}
table {
    border-collapse: collapse;
    width:69%;
}

table, td, th {
    border: 1px solid black;
}
td{
    height: 30px;
}
input{
    height:100%;
    width: 100%;
}
#table1{
    float:next;
    margin-top: 13px;
    margin-left: 25%;
    //background-color: red;
    width:25%;
}

