/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 8, 2015, 12:24:36 AM
    Author     : subhashrijal
*/


#signup{
    float: left;
    margin-left: 5%;
    margin-top: 2%;
    
    width: 40%;
    height: auto;
    box-shadow: 4px 4px 4px gray;
    border-bottom-color: red;
    alignment-adjust:central;
    
    
}
input:focus{
    color:red;
    width: auto;
}
td{
    width: auto;
}
#submit{
       background-color: red;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: #fff;
    font-family: 'Oswald';
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border:none;
    
}

#signups{
    width: 100%;
    background-color: gray;
    text-align: center;
    font-size: 30px;
    //margin-bottom: 30px;
    color:white;
}

#contact{
float:right;
margin-right: 17%;
}
