/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 6, 2015, 7:30:11 PM
    Author     : subhashrijal
*/

html{
    height: auto;
    margin:0px;
    
    //background-color:beige;
   //background-image: url("images/index.jpg");
   //position:relative;
    //background-repeat:no-repeat;
    // background-size: 100% 100%;
    //background-size: cover;
    //background-attachment: fixed;
}
a:link{
    text-decoration: none;
    display: block;
}
a{
    color:white;
}


body{
    height:auto;
    width: auto;
}
#header{
    //background-color: skyblue;
    width: 73%;
    height: 90px;
   margin-left: 10%;
  
    margin-top: 0;
    text-align: left;
    
    
    
}
#search1{
    float: left;
    height: 100%;
    
    //background-color: red;
    font-family:cursive;
    font-size: 20px;
    color:mediumblue;
    
}

#search{
    float: right;
    height: 50%;
    //background-color: red;
    
}

#footer{
    float:bottom;
    width: 73%;
      color:white;
background-color:black;
    margin-left: 10%;
    margin-top: 14px;
float: left;
margin-top: 14px;
text-align: center;
height:50px;
}

#navigation{
    background-color: black;
    display: inline;
    width:73%;
    
    height:10%;
    float: left;
   box-shadow: 5px 5px 5px gray;
    margin-left: 10%;
    text-align: center;
    //font-size: 15px;
    line-height: 50px;
    
    //padding-top: 4px;
    
    font-family: Arial, Helvetica, sans-serif;
}

        
#nav1{
    
    //background: red;
   float: left;
   height: 100%;
   width: 10%;
   color:white;
   //margin-right: 2px;
   
   
   
    
}
#nav1:hover{
    color:white;
    background-color:#330033;
    //text-decoration: underline;
    
}




#brandnavigation{
    
    background-color: black;
    width:13%;
    text-justify:inherit;
    
    float:left;
    height:40%;
    margin-left: 10%;
    margin-top: 2%;
}

#brands{
    background-color: gray;
    height: 25px;
    color: white;
    text-align: center;
}
#productbrands{
    width:100%;
    height: 50px;
    padding-left: 10px;
    margin-top: 3px;
    background-color: red;
    text-align: center;
    line-height: 50px;
    font-family:fantasy;
    
}
#productbrands:hover{
    color:white;
    background-color:#330033;
    //text-decoration: underline;
    
}
#loginform{
    margin-top: 5px;
    height: 20%;
    float: bottom;
    background-color: black;
}
#logintable{
    width: 100%;
    
}



#contents{
    float: left;
    height:auto;
    width:58%;
    margin-left: 20px;
    margin-top:20px;
    background-color:antiquewhite;
    
    
}
#laptops{
 background-color: black;
 color:white;
 width:100%;
 height: 40px;
 font-size: 30px;
 margin-left: 5px;
 text-align:center;
}
#inside{
    height: 600px;
    width:400px;
   margin-left: 2px;
    background-color: black;
    
    
}
#distribution{
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}
#brandname{
    background-color: black;
    text-align: center;
    color:white;
    width:100%;
    margin-top:3%;
}
#image{
    height:150px;
    background-color: red;
    width:220px;
    
}
#model{
    background-color: gray;
    color:white;
    width:220px;
}
#buy{
    width:100%;
    height:auto;
    text-align: center;
    background-color: gray;
   //margin-left: 20%;
   font-size: 22px;
   
        
}
#cost{
    background-color: black;
    color:white;
    width:220px;
}



#contact{
float: left;
   position:fixed;
    height:280px;
    width:150px;
   margin-left: 88%;
    color:white;
    //margin-right: 0%;
    //margin-top: 2%;
    
}
#contactus{
    background-color: gray;
    text-align: center;
}
#phone{
    height:20%;
    color:white;
    background-color: black;
}
#email{
     height:20%;
    color:white;
    background-color: black;
    margin-top: 4px;
}
#facebook{
     height:20%;
    color:white;
    background-color: black;
    margin-top: 4px;
}
#officetime{
     height:20%;
    color:white;
    text-align: center;
    background-color: black;
    margin-top: 4px;
}
#openings{
    background-color: gray;
    text-align: center;
}
